<div class="main-buylist">

    <div class="main-buylist-head">

        <div class="main-buylist-head-orderAndAmount">
            <div class="main-buylist-head-order">
                Замовлення
            </div>
            <div class="main-buylist-head-amount" id="buylistAmountOrder">
                0
            </div>
        </div>

    </div>

    <div class="main-buylist-body " id="cartOrder">
        <div id="empty-buylist">
            <div >
                Пусто в холодильнику?
                <div class="empty-inner">
                    Замовте піцу!
                </div>
            </div>

        </div>
    </div>

    <div class="main-buylist-bottom">

        <div class="main-buylist-bottom-label">

            <div class="main-buylist-bottom-label-l">
                <div class="main-buylist-bottom-text">
                    Сума замовлення
                </div>

                <div class="main-buylist-bottom-sum">
                    <div class="main-buylist-bottom-sum-number" id="allSumOrder">
                        0
                    </div>
                    <div class="main-buylist-bottom-sum-text">
                        грн
                    </div>
                </div>
            </div>

            <div class="main-buylist-bottom-button-container">
                <a class="btn button-ordered" href="/">Редагувати замовлення</a>
            </div>

        </div>

    </div>

</div>