
<div class="bottom">

    <img src="assets/images/discountBottom.svg" class="bottom-flag-shape">

    <div class="bottom-flag">

        <div class="bottom-flag-text">
            ЦЬОГО
        </div>
        <div class="bottom-flag-text">
            ТИЖНЯ
        </div>
        <div class="bottom-flag-text">
            НА ВСЕ
        </div>
        <div class="bottom-flag-line"></div>
        <div class="bottom-flag-discount">
            -20%
        </div>

    </div>

</div>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script	type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAL08XWtgcSmAyFUGedSIfBI2Nou5jHlis">
</script>

<script src="//static.liqpay.com/libjs/checkout.js">
</script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>