<div class="inner-container-bottom">

    <div class="inner-container-bottom-text">
        Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії
    </div>
    <div class="inner-container-bottom-text">
        Доставка піци не здійснюється
    </div>

</div>